<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean name="user" class="framework.User">
        <property name="name" value="liuyulin"></property>
        <property name="age" value="24"></property>
        <property name="isBoy" value="true"></property>
        <property name="height" value="1.72"></property>
    </bean>

</beans>